.bottom-cta {
	background: $brand-color; /* Old browsers */
	background: linear-gradient(to right, $middle-gradient-color 0%, $brand-color 100%) no-repeat $brand-color;
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 100px 0;

	h2 {
		margin-bottom: 50px;
	}
}

.testimonial {
	background: #f5f5f5;
	margin: 0;
	padding: 100px 0;

	.testimonial-block {
		max-width: 750px;
		width: 98%;
		margin: 0 auto;

		@media #{$tablet} {
			@include flexbox;

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
	}
}

.hero {
	color: #ffffff;
	text-align: center;
	background: $brand-color; /* Old browsers */
	background: linear-gradient(to right, $middle-gradient-color 0%, $brand-color 100%) no-repeat $brand-color;
	padding-top: 50px;
	position: relative;

	p {
		color: #fff;
	}

	&::before, &::after {
		position: absolute;
    bottom: 0;
		width: 0;
		height: 0;
		content: '';
	}

	&::before {
		border-right: 30vw solid transparent;
		border-bottom: 2rem solid #fff;
		left: 0;
	}

	&::after {
		border-left: 70vw solid transparent;
		border-bottom: 4rem solid #fff;
		right: 0;
	}
}


@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}
