$brand-color: #A21B35;
$secondary-brand-color: #F53979;
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 25%);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
